<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin = "anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Phudu&family=Roboto:ital,wght@1,300&family=Ubuntu&display=swap" rel="stylesheet" />
</head>

<body>
    <div class = "main_container">
        <div class = "title">
            <h1>Let's Invest, Kids! &#x1F44D; money with wings</h1>
        </div>
        <div class = "btn_container">
            <button class = "button"><a href="create">Create</a></button>
            <button class = "button"><a href="login">Login</a></button>
        </div>
    </div>
        
    <div class = "description">
        <p>Welcome to GarageBank! This software was developed with the intention of
            nurturing financial literacy in kids within the familiar home allowance setting.</p>
    </div>
</body>

<footer>
    <div class = "footer-content">
        <p>Built for PennApps XXIV in Python3, Flask, & HTML/CSS by Carol Tu, Ashley Yan, and Rachel Lee </p>
    </div>
</footer>
</html>